.Wrapper {

    li {
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#000, 0.5);
        padding-top: 10px;
        margin-bottom: 10px;
        opacity: 0;
    }
    p{
        margin-top:50px;
        // text-align: center;
    }

}

.Symbol {
    font-size: 14px;
    align-self: flex-end;
}

.Digits {
    font-size: 20px;
}
.Description{
    opacity: 0;
}