.Wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    label {
        margin-bottom: 10px;
        font-size: 14px;
    }

    input {
        font-size: 38px;
        width: calc(100% - 40px);
        border: none;
        border-bottom: 1px solid rgba(rgb(15, 6, 6), 0.5);
        padding: 10px 10px 5px 0;
        outline: none;
    }


}

.InputField {
    position: relative;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.Spinner {
    position: absolute;
    right: -7px;
    bottom: 12px;
    z-index: 1;
}